extends layout
block content
  #sidebar
    img(src='images/logo_3.png' alt='Comfort Games Logo' class="title_logo")
    //- form(action='/add' method='POST')
    //-   button(class='post_button' type='submit') Write New Post
  #main
    h1 Comfort Games
    #header Share your favorite comfort games or find something new to try!
    #newPost
      form(action='/add' method='POST')
        div
          label(for='blog')
          input#new_title(name='title' type='text' required placeholder='Name your post!')

          label(for='blog')
          textarea#new_blog(name='blog' rows='1' cols='50' required placeholder='Type here...')
          
          div.post_bottom
            //- p Optional: Include a photo
            //- label(for='pic')
            //- input#pic(type='file' name='pic')

            button(class='post_button' type='submit') Post!
          div 
        div
    #posts 
      div#sort
        form(action='/sort' method='POST')
          p(class="javascript")
            let oldestSelected = "not selected"
            let azSelected = "not selected"
            let zaSelected = "not selected"
          - console.log("chosen sort is: " + chosenSort)
          if (chosenSort == "blog_time ASC") 
            p(class="javascript")
             - oldestSelected = "selected";  
          else if (chosenSort == "blog_title ASC") 
            p(class="javascript")
             - azSelected = "selected"
          else if (chosenSort == "blog_title DESC") 
            p(class="javascript")
             - zaSelected = "selected"
          p Sort by: 
          select(id='Sortby' name='Sortby')
            option#newest(name = 'newest' value='newest') Newest
            option#oldest(name = 'oldest' value='oldest' selected=oldestSelected) Oldest
            option#az(name = 'az' value='az' selected=azSelected) TItles A-Z
            option#za(name = 'za' value='za' selected=zaSelected) Titles Z-A
          button(class='sort_button' type='submit') Sort
      div
      ul
        each txt in data
          ul(class="single_post", id=txt.blog_id)
            if txt.blog_edit == 0
              div#top
                div.post_title #{txt.blog_title}
                form(action='/edit' method='POST')
                  div
                    label(for='blog')
                    input.post_id(name='post_id' type='text' value=`${txt.blog_id}`)
                    button(class='edit_button' type='submit') 
                      img(src='images/Edit_pencil.png' alt='Edit' class="edit_img")
                    button(class='delete_button' type="submit" formaction="/delete" onclick="return confirm('Are you sure?')")
                      img(src='images/Delete_trash.png' alt='Delete' class="delete_img")
                  div
              div.post_text #{txt.blog_txt}
              div.post_time #{txt.blog_time}
            else 
               #editPost
                form(action='/update' method='POST')
                  div
                    label(for='blog')
                    input.edit_title(name='edit_title' type='text' required value=`${txt.blog_title}`)

                    label(for='blog')
                    textarea.edit_text(name='edit_text' rows='1' cols='50' required) #{txt.blog_txt}
                    
                    label(for='blog')
                    input.post_id(name='post_id' type='text' value=`${txt.blog_id}`)
                    div.post_bottom
                      //- p Optional: Change photo
                      //- label(for='pic')
                      //- input#pic(type='file' name='pic')
                      button(class='update_button' type='submit') Update!
                      button(class='cancel_button' type="submit" formaction="/cancel") Cancel
                  div
            