doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      div(id=sidebar)
      div(id=main)
        div(id=header)
        div(id=newPost)
        div(id=posts)
          ul(class="single_post")



