doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    //- link(rel='text/javascript', href='/javascript/functions.js')

  body
    block content
      div(id=sidebar)
      div(id=main)
        div(id=header)
        div(id=newPost)
        div(id=posts)
          div(id=sort)
          ul(class="single_post")



